.cr-search-form {
  position: relative;
  
  &__icon-search {
    position: absolute;
    left: 90%;
  }

  &__input {
    /* stylelint-disable-next-line */
    // padding-left: 35px !important;
    padding: 10px !important;
  }
}
