.nav-item {
  margin-top:0px !important;
  margin-bottom: 0px !important;
  border-bottom: #fff;
  padding-left: 5px;
  padding-right: 5px;
  .nav-link {
    display: flex;
    align-items: center;
    font-family: 'Mada-Light';
    border-bottom: solid 0.5px;
    &.active {
      color: #fff;
      font-family: 'Mada-Bold';
      // background: rgba(255, 255, 255, .23);
      opacity: 1;
    }
  }
}

.sidebar .nav a {
  transition: all 150ms ease-in;
}

.card-header {
  text-transform: uppercase;
}

.badge:empty {
  display: inline-block;
}